  /*
  Size by device
  320px — 480px: Mobile devices,
  481px — 768px: iPads,
  Tablets 769px — 1024px: Small screens,
  laptops 1025px — 1200px: Desktops,
  large screens 1201px and more — Extra large screens, TV 
  */
  
  
  @media (max-width:1280px) {
    .header {
        width: calc(100% - 160px);
    }

    .visual-wrap {
        width: calc(100% - 160px);
    }
  }
  
  @media (max-width:1024px) {
    

    .visual-txt {
        margin-top: var(--space-regular);
    }

    .visual-txt p {
        font-size: var(--font-medium);
    }

    .section.contents {
        width: calc(100% - 160px);
    }

    .section.about {
        flex-flow: column;
        width: calc(100% - 160px);
        margin: 10rem auto;
    }

    .about-sub-txt {
        white-space: normal;
    }

    .project-left .project-detail .text {
        margin-left: var(--space-small);
    }
  }
  
  @media (max-width:768px) {}
  
 
  @media (max-width:768px) and (min-width:320px) {
    .header {
        display: none;
    }

    .visual-wrap {
        width: calc(100% - 80px);
    }

    .visual-txt p {
        font-size: var(--font-small);
        text-align: center;
        word-break: auto-phrase;
    }

    .scroll-down {
        font-size: 1.2rem;
    }

    .section.contents {
        width: calc(100% - 80px);
    }

    .section.contents article {
        margin-top: var(--space-medium);
    }

    .project-tit .line {
        height: 50px;
    }

    .project-tit p {
        font-size: var(--font-large);
    }

    .project {
        flex-flow: column;
        padding: var(--space-small);
    }

    .project-left {
        width: 100%;
    }

    .project-left .project-name {
        font-size: var(--font-large);
        margin-bottom: var(--space-small);
    }

    .project-left .project-detail {
        flex-flow: column;
        align-items: flex-start;
    }

    .project-left .project-detail .title {
        font-size: var(--font-regular);
    }

    .project-left .project-detail .text {
        font-size: var(--font-regular);
        margin: 0;
        word-break: auto-phrase;
    }

    .project-right {
        display: none;
    }

    .web-comment p {
        font-size: var(--font-min);
    }
  }